{% extends 'base.html'  %}
{% block title %}Reading List {% endblock %}

{% block content %}
<div class="container">
{% for comic in comics %}
<div class="card">
    <image src="{{comic.image_url}}/portrait_xlarge.{{comic.image_type}}"></image>

    <h3>{{comic.title}}</h3>
    <p class="description">Description: {{comic.description}}</p>
    <p><a href="{{comic.marvel_url}}" target="_blank">Marvel Link</a></p>

    <div class="reading-list">
    {% if not g.user %}

    
    <a href="/register">Sign up to create reading list</a>

    {% elif comic.id in user_comics %}
    <a href=/reading_list>Added to Reading List</a>
    {% else %}

    <button class="delete-comic" data-userid="{{ g.user.id }}" data-comicid="{{comic.id}}">Remove</button>
    
    {% endif %}
</div>
</div>
{% endfor %}
</div>
<script src="https://unpkg.com/jquery"></script>
<script src="https://unpkg.com/axios/dist/axios.js"></script>
<script src="static/main.js"></script>
{% endblock %}

<button class="delete-comic" data-userid="{{ g.user.id }}" data-comicid="{{comic.id}}">Remove</button>