{% extends 'base.html'  %}
{% block title %}Search{% endblock %}

{% block content %}



<div class="container">
    
    <form action="" method="POST">
        <h1>Search</h1>
        <P>Enter the names of two Marvel characters to get a list of comics featuring both of them. It can be two heroes teaming up or a search for battles between your favorite hero and villain.</P>
        {{ form.hidden_tag() }}
    
        {% for field in form
        if field.widget.input_type != 'hidden' %}
        <div class="form-group "> 
    
            {{field.label}}
            {{field(class_="form-control")}}
    
            {% for error in field.errors %}
            {{ error }}
            {% endfor %}
        </div>
        {% endfor %}
        <input type="submit" class="btn" value="Search">
    
    </form>
    </div> 
    <script src="https://unpkg.com/jquery"></script>
    <script src="https://unpkg.com/axios/dist/axios.js"></script>
    <script src="/static/main.js"></script>
{% endblock %}